<events>
  <event>
    <id>0</id>
    <name>AlarmBell</name>
    <playercontrolled>false</playercontrolled>
    <triggerkey></triggerkey>
    <radius>500</radius>
    <position>
      <x>30</x>
      <y>1</y>
      <z>30</z>
    </position>
    <modelname>AlarmBell</modelname>
    <animationname>AlarmBell</animationname>
    <interestlevel>0</interestlevel>
    <maxamountofparticipants>10</maxamountofparticipants>
    <associatedactions>
      <id>2</id>
    </associatedactions>
    <personalityMinimums>
      <minimum>
        <id>0</id>
        <value>0</value>
      </minimum>
      <minimum>
        <id>1</id>
        <value>0</value>
      </minimum>
      <minimum>
        <id>2</id>
        <value>0</value>
      </minimum>
      <minimum>
        <id>3</id>
        <value>0</value>
      </minimum>
      <minimum>
        <id>4</id>
        <value>0</value>
      </minimum>
    </personalityMinimums>
  </event>
  <event>
    <id>1</id>
    <name>light_switch</name>
    <playercontrolled>true</playercontrolled>
    <triggerkey>f</triggerkey>
    <radius>500</radius>
    <position>
      <x>0</x>
      <y>1.5</y>
      <z>-8.7</z>
    </position>
    <modelname>light_switch</modelname>
    <animationname>light_switch</animationname>
    <interestlevel>1</interestlevel>
    <maxamountofparticipants>3</maxamountofparticipants>
    <associatedactions>
      <id>1</id>
    </associatedactions>
    <personalityMinimums>
      <minimum>
        <id>0</id>
        <value>0</value>
      </minimum>
      <minimum>
        <id>1</id>
        <value>0</value>
      </minimum>
      <minimum>
        <id>2</id>
        <value>0</value>
      </minimum>
      <minimum>
        <id>3</id>
        <value>0</value>
      </minimum>
      <minimum>
        <id>4</id>
        <value>0</value>
      </minimum>
    </personalityMinimums>
  </event>
  </events>