<settings>
  <personalities>
    <personality>
      <id>0</id>
      <name>
        Extraversion
      </name>
      <minvalue>100</minvalue>
      <maxvalue>100</maxvalue>
    </personality>
    <personality>
      <id>1</id>
      <name>
        Egoism
      </name>
      <minvalue>100</minvalue>`
      <maxvalue>100</maxvalue></personality>
    <personality>
      <id>2</id>
      <name>
        Thoroughness
      </name>
      <minvalue>100</minvalue>
      <maxvalue>100</maxvalue>
    </personality>
    <personality>
      <id>3</id>
      <name>
        EmotionalStability
      </name>
      <minvalue>100</minvalue>
      <maxvalue>100</maxvalue>
    </personality>
  </personalities>
  <spawnpoints>
    <spawnpoint>
      <x>1.71</x>
      <y>0.0</y>
      <z>-1.57</z>
    </spawnpoint>
    <spawnpoint>
      <x>2.22</x>
      <y>0.0</y>
      <z>6.43</z>
    </spawnpoint>
  </spawnpoints>
  <modelnames>
    <modelname>PlayerLiam</modelname>
  </modelnames>
</settings>